# Terraform files
*.tfstate
*.tfstate.*

# Backup files
*.backup

# Crash log files
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform working directory
.terraform/

.external_modules/